/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.gitconfig
/.ipython
/.local
/.nv
/.profile
/.python_history
/.vscode
/.vscode-server
/.keras
/DATAs
/miniconda3
/.conda
.wget-hsts
/code_base/Ritika_Plan/Data