/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.gitconfig
/.ipython
/.local
/.nv
/.profile
/.python_history
/.vscode
/.vscode-server
/DATAs
/miniconda3
/.conda
/home/tusharsingh/code_base/deepsleepnet/data
.wget-hsts
